html {
  font-size: 100%;
}

.container {
  width: 960px;
  margin: 0 auto;
}
.svg-1 {
  background-image: url("../img/leaf.svg");
  background-repeat: repeat;
  padding: 5rem;
  background-attachment: fixed;
}

body .fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000000;
  -webkit-animation: scrollheader 0.3s;
  animation: scrollheader 0.3s;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  background: #fff;
}
